<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore CDP Project</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
    <script type="text/javascript">
        // Define the Boxever JavaScript Library
        // Define the Boxever queue
        var _boxeverq = _boxeverq || [];

        // Define the Boxever settings
        var _boxever_settings = {
            client_key: '@SitecoreCDP.Project.Website.Constants.client_key',
            // Replace with your client key
            target: '@SitecoreCDP.Project.Website.Constants.targetEndPoint',
            // Replace with your API target endpoint specific to your data center region
            cookie_domain: '@SitecoreCDP.Project.Website.Constants.cookieDomain',
            // Replace with the top level cookie domain of the website that is being integrated
            javascriptLibraryVersion: '@SitecoreCDP.Project.Website.Constants.javascriptLibraryVersion',
            // Replace with the latest Boxever JavaScript Library version
            pointOfSale: '@SitecoreCDP.Project.Website.Constants.pointOfSale',
            // Replace with the same point of sale configured in system settings
            web_flow_target: 'https://d35vb5cccm4xzp.cloudfront.net',
            // Replace with path for the Amazon CloudFront CDN for Sitecore Personalize
            web_flow_config: { async: false, defer: false }
            // Customize the async and defer script loading attributes
        };
        // Import the Boxever JavaScript Library asynchronously
        (
            function () {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                s.src = '@("https://d1mj578wat5n4o.cloudfront.net/boxever-" + SitecoreCDP.Project.Website.Constants.javascriptLibraryVersion + ".min.js")';
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            }
        )();
    </script>
</head>

<body>
    <div>
        @Html.Sitecore().Placeholder("cdp-main")
    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script type="text/javascript">
        // Get Browser ID
        $(document).ready(
            function () {
                $("#btnBrowserID").click(
                    function () {
                        alert(Boxever.getID());
                    }
                );
            }
        );

        // Send Default Identity
        $(document).ready(
            function () {
                $("#btnDefaultIdentity").click(
                    function () {
                        sendDefaultIdentity();
                    }
                );
            }
        );
        // Follow Documentation --> doc.sitecore.com/cdp/en/developers/sitecore-customer-data-platform--data-model-2-1/send-an-identity-event-to-sitecore-cdp.html
        function sendDefaultIdentity() {
            var sentIdentity = {
                "channel": "WEB",
                "type": "IDENTITY",
                "language": "EN",
                "currency": "USD",
                "page": "/BasicLearning/CDPLearning",
                "pos": window._boxever_settings.pointOfSale,
                "browser_id": Boxever.getID(),
                "email": "chirag.goel@fakegmail.com",
                "title": "Mr.",
                "firstname": "Chirag",
                "lastname": "Goel",
                "gender": "male",
                "identifiers": [
                    {
                        "provider": "MainEmail",
                        "id": "123456"
                    }
                ]
            }
            Boxever.eventCreate(sentIdentity, function (data) { }, 'json');
            alert("Identified Guest with Default Values");
        }

        // Get Guest ID
        $(document).ready(
            function () {
                $("#btnGuestID").click(
                    function () {
                        getGuestID();
                    }
                );
            }
        );
        // Follow Documentation --> sitecore.cdpknowledgehub.com/docs/web-tagging-javascript-library-functions
        function getGuestID() {
            Boxever.browserShow(Boxever.getID(), 0, function (response) {
                var guestRefID = response.customer.ref;
                alert(guestRefID);
            }, 'json');
        }

        // Close the Current Sesssion
        $(document).ready(
            function () {
                $("#btnCloseSession").click(
                    function () {
                        closeTheSession();
                    }
                );
            }
        );
        function closeTheSession() {
            var closeCurrentSession = {
                "browser_id": Boxever.getID(),
                "channel": "WEB",
                "language": "EN",
                "currency": "USD",
                "pos": window._boxever_settings.pointOfSale,
                "type": "FORCE_CLOSE",
                "_bx_extended_message": "1"
            };
            Boxever.eventCreate(closeCurrentSession, function (data) { }, 'json');
            alert("Closing the Current Session");
        }

        // Normal Search Event
        $(document).ready(
            function () {
                $("#btnSearchEvent").click(
                    function () {
                        normalSearchEvent();
                    }
                );
            }
        );
        // Follow Documentation --> doc.sitecore.com/cdp/en/developers/sitecore-customer-data-platform--data-model-2-1/send-a-search-event-to-sitecore-cdp.html
        function normalSearchEvent() {
            var sendSearchEvent = {
                "channel": "WEB",
                "type": "SEARCH",
                "language": "EN",
                "currency": "USD",
                "page": "/SearchPage",
                "pos": window._boxever_settings.pointOfSale,
                "browser_id": Boxever.getID(),
                "product_name": "Cheese",
                "product_type": "Milk Products"
            };
            Boxever.eventCreate(sendSearchEvent, function (data) {
                alert(JSON.stringify(data));
            }, 'json');
        }

        // Flight Search Event using Push
        $(document).ready(
            function () {
                $("#btnSearchFlightEventPush").click(
                    function () {
                        flightSearchEvent();
                    }
                );
            }
        );
        // Follow Documentation --> doc.sitecore.com/cdp/en/developers/sitecore-customer-data-platform--data-model-2-1/send-a-search-event-for-flight-to-sitecore-cdp.html
        function flightSearchEvent() {
            _boxeverq.push(
                function () {
                    var sendFlightEvent = {
                        "channel": "WEB",
                        "type": "SEARCH",
                        "language": "EN",
                        "currency": "USD",
                        "page": "/SearchPage",
                        "pos": window._boxever_settings.pointOfSale,
                        "browser_id": Boxever.getID(),
                        "product_name": "F-22",
                        "product_type": "Lockheed Martin Raptor",
                        "flight_type": "Fighter",
                        "origin": "IND",
                        "destination": "USA",
                        "start": "2022-12-20T00:00",
                        "end": "2022-12-22T00:00",
                        "adults": 1,
                        "children": 0,
                        "infants": 0,
                        "fare_class": "Fighter"
                    }
                    Boxever.eventCreate(sendFlightEvent, function (data) {
                        alert(JSON.stringify(data));
                    }, 'json');
                }
            );
        }

        // Search Event using XML HTTP
        $(document).ready(
            function () {
                $("#btnSearchEventHTTP").click(
                    function () {
                        searchEventXmlHTTP();
                    }
                );
            }
        );
        function searchEventXmlHTTP() {
            var XMLHttp = new XMLHttpRequest();
            var searchEvent = {
                "channel": "WEB",
                "type": "SEARCH",
                "language": "EN",
                "currency": "USD",
                "page": "/SearchPage",
                "pos": window._boxever_settings.pointOfSale,
                "browser_id": Boxever.getID(),
                "product_name": "Pizza",
                "product_type": "Fast Food"
            };
            var url = "@SitecoreCDP.Project.Website.Constants.targetEndPoint" + '/event/create.json?client_key=' + "@SitecoreCDP.Project.Website.Constants.client_key" + '&boxever_version=' + "@SitecoreCDP.Project.Website.Constants.javascriptLibraryVersion" + '&message=' + JSON.stringify(searchEvent, null);
            XMLHttp.open("GET", url, false);
            XMLHttp.send(null);
            alert(JSON.stringify(XMLHttp.responseText));
        }

        // Send Person Identity
        $(document).ready(
            function () {
                $("#btnSubmitIdentityForm").click(
                    function () {
                        sendPersonIdentity();
                    }
                );
            }
        );
        // Follow Documentation --> doc.sitecore.com/cdp/en/developers/sitecore-customer-data-platform--data-model-2-1/send-an-identity-event-to-sitecore-cdp.html
        function sendPersonIdentity() {
            var firstName = document.getElementById("textFirstName").value;
            var lastName = document.getElementById("textLastName").value;
            var gender = document.getElementById("textGender").value;
            var nationality = document.getElementById("textNationality").value;
            var dateOfBirth = document.getElementById("textDOB").value;
            var email = document.getElementById("textEmail").value;
            var phoneNumber = document.getElementById("textPhoneNo").value;
            var title;
            if (gender.toUpperCase() == "MALE") {
                title = "Mr";
            }
            else if (gender.toUpperCase() == "FEMALE") {
                title = "Ms";
            }
            else {
                title = "General";
            }
            var identityInformation = {
                "channel": "WEB",
                "type": "IDENTITY",
                "language": "EN",
                "currency": "USD",
                "page": "/PeopleIdentify/PersonIdentification",
                "pos": window._boxever_settings.pointOfSale,
                "browser_id": Boxever.getID(),
                "email": email,
                "title": title,
                "firstname": firstName,
                "lastname": lastName,
                "gender": gender.toLowerCase(),
                "dob": dateOfBirth,
                "mobile": phoneNumber,
                "identifiers": [
                    {
                        "provider": "MainEmail",
                        "id": email
                    }
                ]
            };
            Boxever.eventCreate(identityInformation, function (data) { }, 'json');
            alert("Thank You: " + firstName + " " + lastName + "\nConfirmation will be sent to " + email);
        }
    </script>
</body>
</html>